	
<div class="accordion" fillSpace="sideBar">

    <div class="accordionHeader">
        <h2><span>Folder</span>运营管理</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">	
       		<li><a href="__MODULE__/Answer/index" target="navTab" rel="Answer.index">问答列表</a></li>
       		<li><a href="__MODULE__/Recent/index" target="navTab" rel="Recent.index">遇见列表</a></li>
       		<li><a href="__MODULE__/Demand/index" target="navTab" rel="Demand.index">需求列表</a></li>
            <li><a href="__MODULE__/Demand/urge_merchant" target="navTab" rel="Demand.urge_merchant">跟进商家</a></li>	
          <!--  <li><a href="__MODULE__/Complain/index" target="navTab" rel="Complain.index">投诉列表</a></li> --> 	
        </ul>		
    </div>
    
     <div class="accordionHeader">
        <h2><span>Folder</span>审核管理</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">	
            <li><a href="__MODULE__/Auth/index" target="navTab" rel="Auth.index">商户信息审核</a></li>
            <li><a href="__MODULE__/AuthService/index" target="navTab" rel="AuthService.index">商户项目审核</a></li>	
            <li><a href="__MODULE__/AuthService/indexHistory" target="navTab" rel="AuthService.indexHistory">商户项目审核历史</a></li>	
             <li><a href="__MODULE__/Merchant/index" target="navTab" rel="Merchant.index">商家管理</a></li>	
        </ul>		
    </div>
      <div class="accordionHeader">
        <h2><span>Folder</span>商家管理</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">	
            <li><a href="__MODULE__/Merchant/index" target="navTab" rel="Merchant.index">商家管理</a></li>	
          <!-- <li><a href="__MODULE__/Service/index" target="navTab" rel="Service.index">发布的项目</a></li>
            <li><a href="__MODULE__/MerchantBidding/index" target="navTab" rel="Binding.index">竞价列表</a></li>
             -->  
        </ul>		
    </div>
     <div class="accordionHeader">
        <h2><span>Folder</span>会员管理</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">
            <li><a href="__MODULE__/Member/index" target="navTab" rel="Member.index">会员管理</a></li>	
            <li><a href="__MODULE__/Cart/index" target="navTab" rel="Car.index">车辆列表</a></li>				
            <li><a href="__MODULE__/MemberDemand/index" target="navTab" rel="Binding.index">需求列表</a></li>			
        </ul>		
    </div>
  <!--  <div class="accordionHeader">
        <h2><span>Folder</span>活动管理</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">	
            <li><a href="__MODULE__/Activity/index" target="navTab" rel="Activity.index">限时活动</a></li>		
        </ul>		
    </div> --> 
    <div class="accordionHeader">
        <h2><span>Folder</span>订单管理</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">	
            <li><a href="__MODULE__/Order/index" target="navTab" rel="Order.index">订单列表</a></li>		
        </ul>		
    </div>
  


    <div class="accordionHeader">
        <h2><span>Folder</span>系统设置</h2>
    </div>
    <div class="accordionContent">
        <ul class="tree treeFolder">	
        	<li><a href="__MODULE__/Category/index" target="navTab" rel="Category.index">汽车项目分类</a></li>
            <li><a href="__MODULE__/City/index" target="navTab" rel="City.index">城市管理</a></li>
          <!--   <li><a href="__MODULE__/Config/index" target="navTab" rel="Config.index">系统配置</a></li> -->
            <li><a href="__MODULE__/User/index" target="navTab" rel="User.index">用户管理</a></li>	
           <!--  <li><a href="__MODULE__/Log/index" target="navTab" rel="Log.index">登录日志</a></li> -->	
            <li><a href="__MODULE__/AuthRule/index" target="navTab" rel="AuthRule.index">系统权限</a></li>		
            <li><a href="__MODULE__/AuthGroup/index" target="navTab" rel="AuthGroup.index">系统组</a></li>	
            <li><a href="__MODULE__/Config/index" target="navTab" rel="Config.index">AppConf配置</a></li>	
       		  <li><a href="__MODULE__/RunLog/index" target="navTab" rel="RunLog.index">App运行日志</a></li>	
        </ul>		
    </div>

</div>


