<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>问答-提供最好的车生活服务</title>
		<include file="Public:answerload"/>
    </head>

<body>
    
   <include file="Public:answerheader"/>
		<div class="container" >
		<div class="row">
			<div class="col-md-12 text-left">
				<span class="theme-h5">全部问答</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="text-align:center; margin-top:10px;">
				<div class="col-md-8">
					<div class="col-md-12" style="border:1px solid #d9d9d9;">
						<volist name="answer" id ="vo">
								<div class="col-md-12 text-left " style="border-bottom:1px dotted #DBDBDB;" >
									<div class="col-md-2" >
										<a href="/user/detail/id/{$vo['system_user_id']}">
										<img src="{$vo['header']|default='__PUBLIC__/img/default_user.jpg'}" width="80" height="80" class="  img-circle header-img"/>
										</a>
									</div>
									<div class="col-md-10" style="margin-left:-5px;padding:20px 0px 10px 0px;">
										<div class="col-md-12">
											<span class="theme-h6">{$vo['name']}:</span>
										</div>
										
										<div class="col-md-12" style="">
										<a href="/Answer/detail/id/{$vo['id']}" class=" answer-title">
											{$vo['title']|msubstr=0,60,'utf-8',true}
											</a>
										</div>
										
										<div class="col-md-12  font-grep">
											
											<div class="col-md-3">
												回答（{$vo['answer_num']}）
											</div>
											<div class="col-md-4">
												分类（{$vo['pidname']}）
											</div>
											<div class="col-md-4">
											 {$vo['addtime']}
											</div>
										</div>
										<div class="col-md-12" style="padding-top:5px;">
											<volist name ="vo.pics" id="img">
											<div class="col-md-4">
												<img alt="" src="{$img.hs}" class="img-responsive">
											</div>
											</volist>
										</div>
										
									</div>
									
								</div>
								
							</volist>		
								
								
								
			
					</div>
				
				</div>
				
				
				
				<div class="col-md-12" id="pagination">{$pages}</div>
			</div>
			</div>
		</div>
		


		<!-- footer -->
		<include file="Public:footer"/>
		<!-- footer end-->
    </body>
</html>