<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>驾客－首页</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="__PUBLIC__/static/bootstrap/css/front-end.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/static/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/static/bootstrap/css/pagination.css" rel="stylesheet" type="text/css" />
        <link href="__PUBLIC__/static/bootstrap/css/style.css" rel="stylesheet" type="text/css" />
<!--         <link href="__PUBLIC__/static/bootstrap/css/prettify.css" rel="stylesheet" type="text/css" /> -->
        <link href="__PUBLIC__/static/bootstrap/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
        <script src="__PUBLIC__/static/jquery-2.0.3.min.js" type="text/javascript"></script>
		<script src="__PUBLIC__/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
		<script src="__PUBLIC__/static/bootstrap/js/jquery.paginatetable.js" type="text/javascript"></script>
		<script src="__PUBLIC__/static/bootstrap/js/bootstrap-dialog.min.js" type="text/javascript"></script>
<!-- 		<script src="__PUBLIC__/static/bootstrap/js/run_prettify.js" type="text/javascript"></script> -->
    </head>
    <body>
    
    	<div class="col-md-12" style="height:30px; background-color:#ddd; z-index:99;margin-bottom:0px; margin-top:0px;">
	    	<ul class="top-nav pull-right">
	    		<li><a href="#"> 欢迎 ，<span class="badge badge-default" id="username_id">卢先生</span></a></li>
		    	<li><a href="{$home}Index/message"><i class="fa fa-envelope"></i> 消息 <span class="label label-default">0</span> </a></li>
		    	<li><a href="{$home}Index/profile"><i class="fa fa-gear"></i> 帐号管理 </a></li>
		    	<li><a href="#"> 退出 </a></li>
	    	</ul>
    	</div>
        <nav class="navbar navbar-default" role="navigation" style="background-color:#f87d22;">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
			      data-target="#bs-example-navbar-collapse-1">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="border-bottom:0px;">
			      <ul class="nav navbar-nav navbar-left nav-p">
			      	<li><a href="{$home}Index/orderIncomplete"> 我的订单 </a></li>
			      	<li><a href="{$home}Index/unbid"> 我要抢单 </a></li>
			      	<li><a href="{$home}Index/event"> 限时活动 </a></li>
			      	<li><a href="{$home}Index/comment"> 服务评价 </a></li>
			      	<li><a href="{$home}Index/project"> 我的项目 </a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
		</nav>
		<div class="container">
		<div class="row">
			<div class="col-md-12" style="text-align:center">
				<div class="btn-group" role="group" >
				  <a href="{$home}Index/orderIncomplete" class="btn btn-info">未完成订单</a>
				  <a href="{$home}Index/orderComplete" class="btn btn-info">已完成订单</a>
				  <a href="{$home}Index/orderFail" class="btn btn-info active">失败订单</a>
				</div>
			</div>
		</div>
			<div class="col-md-12" style="text-align:center; margin-top:10px;">
				<div class="panel panel-default col-md-12" id="ycbb-project-list-panel">
				  <!-- Table -->
				  <table class="table" id="project-table">
				  	<thead>
					  	<tr>
						  	<th>订单类型</th>
						  	<th>订单号</th>
						  	<th>订单时间</th>
						  	<th>项目名称</th>
						  	<th>价格</th>
						  	<th>车型</th>
						  	<th>车主</th>
						  	<th>订单详情</th>
					  	</tr>
				  	</thead>
				  	<tbody id="order-list">
					  	<!--
<tr>
						  	<td>预约订单</td>
						  	<td>11111111</td>
						  	<td>{$date}</td>
						  	<td>洗车，美容</td>
						  	<td>150元</td>
						  	<td>
						  		<label class="label label-default">宝马X5</label>
						  		<label class="label label-default">2014款</label>
						  		<label class="label label-default">xDrive30d</label>
						  	</td>
						  	<td>小明 <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
						  	</td>
						  	<td><a href="{$home}Index/orderFailDetail">
						  	<i class="fa fa-file-text fa-lg"></i></a></td>
					  	</tr>
					  	<tr>
						  	<td>预约订单</td>
						  	<td>11111111</td>
						  	<td>{$date}</td>
						  	<td>洗车，美容</td>
						  	<td>150元</td>
						  	<td>
						  		<label class="label label-default">宝马X5</label>
						  		<label class="label label-default">2014款</label>
						  		<label class="label label-default">xDrive30d</label>
						  	</td>
						  	<td>小明 <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
						  	</td>
						  	<td><a href="{$home}Index/orderCompleteDetail">
						  	<i class="fa fa-file-text fa-lg"></i></a></td>
					  	</tr>
-->
				  	</tbody>
				  </table>
				</div>
				<div class="col-md-12" id="pagination">{$pages}</div>
			</div>
		</div>
		
		
		<!-- footer -->
		<div class="footer">
			<div class="col-md-12" style="text-align:center; font-size:18px; background-color:#f87d22; color:#fff; padding-top:50px; padding-bottom:40px;">
			<p class="copy-right">版权所有：厦门日后科技有限公司</p>
			<p>客服电话：000－0000-000 传真：0000-1234567 邮编：361000</p>
			<p>Copyright &copy; 2013-2014</p>
			</div>
		</div>
		<!-- footer end-->
		<script src="__PUBLIC__/static/bootstrap/js/jquery.session.js"></script>
		<script src="__PUBLIC__/static/bootstrap/js/script.js"></script>
    </body>
</html>