<div class="page">
    <div class="pageContent">

        <form method="post" action="__URL__/replyToAction/navTabId/__DWZ__/callbackType/closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
            <div class="pageFormContent" layoutH="58">
                <div class="unit">
                	<input type="hidden" name="recent_id" value="{$id}"/>
                	<input type="hidden" name="pid" value="{$pid}"/>
                 	<textarea class="form-control" rows="4" name="reply_content" placeholder="请填写回答" style="width:99%; height:180px;"></textarea>
                </div> 
            </div>

            <div class="formBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                    <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
                </ul>
            </div>
        </form>

    </div>
</div>

