<div class="page">
	<div class="pageHeader">

	</div>

	<div class="pageContent">
		<div class="panelBar">
			<ul class="toolBar">
				<li><a class="add" href="__URL__/add" target="dialog" mask="true" width="700" height="400"><span>新增问题</span></a></li>
				<li><a class="reload" href="__URL__/detail/id/{$data['issue_id']}/furl/{$furlen}"  target="navTab"  rel="container.index"><span>刷新</span></a></li>
				<li><a class="return" href="{$furl}"  target="navTab"  rel="Answer.index"><span>返回上一页</span></a></li>
			</ul>
		</div>
	
		<div class="row" layoutH="15" id="container_sc">
			<div class="col-md-12" style="margin-top:10px;padding:10px;">
			<!-- Button trigger modal -->
			
				<div class="col-md-8">

					<div class="col-md-12" style="border:1px solid #d9d9d9;">
						<div class="col-md-12 text-left parent" style="border-bottom:1px dotted #DBDBDB;  padding:15px;  " >
									<div class="col-md-2" style="float:left;" >
										<a href="/user/detail/id/{$data['system_user_id']}">
										<img src="{$data['header']|default='__PUBLIC__/img/default_user.jpg'}" width="80" height="80" class="  img-circle header-img"/>
										</a>
									</div>
									<div class="col-md-10 answerEdit" style="padding:10px 15px 10px 15px; float:left; max-width:750px;">
										<div class="col-md-12">
										
												<if condition="($data['system_user_id'] gt 27 )and($data['system_user_id'] lt 228)">
												<span class="theme-h6" style="color:blue;">{$data['name']}:</span>
												<else/>
												<span class="theme-h6">{$data['name']}:</span>
												</if>
											
										</div>
										
										<div class="col-md-12 changeinput" >
											<p  class=" answer-title inputedit">{$data['title']}</p>
											<div class="changetext" style="display:none;">
											<textarea rows="3" cols="40" name="changetext"  data-id="{$data['issue_id']}">{$data['title']}</textarea>
												<div>
												<label>分类名称：</label>
												<select name="pid" id="pid">
												<option value="0">全部</option>
												<volist name="cate" id ="vol">
													<if condition ="$data['pid'] eq $vol['id']">
													<option value="{$vol['id']}" selected>{$vol['name']}</option>
													<else/>
													<option value="{$vol['id']}">{$vol['name']}</option>
													</if>
												</volist>
												</select>
												</div>
											</div>
										</div>
										<div class="col-md-12 imgContainer" style="padding-top:5px;" >
											<volist name ="data.pics" id="img"  >
											<div class="col-md-4 imgCell" style="float:left;padding:5px;">
												<img alt="" src="{$img.hs}" class="img-responsive" >
												
											</div>
											</volist>
										
						                   
											
											
										</div>
										<div class="clear"></div>
										<div><input id="addPic" type="file" name="image" /></div>
									   <div class="col-xs-12" id ="uploadThumb"></div>
										<div class="clear"></div>
										<div class="col-md-12  font-grep">
											
											<div class="col-md-3" style="float:left">
												<a href="javascript:att({$data['issue_id']});" >关注</a>（<span id="att{$data['issue_id']}">{$data['attention']}</span>）
											</div>
											<div class="col-md-4" id ='category' style="float:left">
												分类（{$data['category_name']}）
											</div>
											<div class="col-md-4" style="float:left">
											 {$data['addtime']}
											</div> 
											<div class="clear"></div>
										</div>
											<div class="col-md-12 btnList" style="padding-left:0px;padding-right:0px;">
											
											<if condition="$data['is_answered'] eq 1 and edit_answer neq ''">
												<a class=" btn" href="__URL__/replyToEditAnswer/id/{$data['edit_answer']}"  target="dialog" mask="true" width="500" height="400"><span >编辑回答</span></a>
										
											<else/> 
											
											<a class=" btn" href="__URL__/replyToAnswer/id/{$data['issue_id']}/submiter/{$data['system_user_id']}" target="dialog" mask="true" width="500" height="400"><span>回答</span></a>
											
											  </if>
											<a class=" btn edittai" href="javascript:;" style="display:none"><span >修改</span></a>
											<a class="submit hide" href="javascript:;" ><span>确认</span></a>	
											<a class="cancel hide" href="javascript:;" ><span>取消</span></a>	
										</div>
										
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
						<volist name="data.list" id ="vo">
								<div class="col-md-12 text-left parent" style="border-bottom:1px dotted #DBDBDB; padding:15px;" >
								
									<div class="col-md-2"  style="float:left;" >
										<a href="/user/detail/id/{$vo['system_user_id']}">
										<img src="{$vo['header']|default='__PUBLIC__/img/default_user.jpg'}" width="80" height="80" class="  img-circle header-img"/>
										</a>
									</div>
									<div class="col-md-10 answerEdit" style="padding:20px 15px 10px 15px; float:left;max-width:750px;">
										<div class="col-md-12">
											<if condition="($vo['system_user_id'] gt 27 )and($vo['system_user_id'] lt 228)">
												<span class="theme-h6" style="color:blue;">{$vo['name']}:</span>
												<else/>
												<span class="theme-h6">{$vo['name']}:</span>
												</if>
										</div>
										
										<div class="col-md-12 changeinput" style="">
										<p class=" answer-title inputedit">{$vo['reply_content']}</p>
											<div class="changetext" style="display:none;">
											<textarea rows="3" cols="40" name="changetext"  data-id="{$vo['id']}">{$vo['reply_content']}</textarea>
											<a class="submitReply" href="javascript:;" ><span>确认</span></a>	
											<a class="cancel" href="javascript:;" ><span>取消</span></a>	
											<a class="delete" href="__URL__/delete_reply/id/{$vo['id']}/navTabId/__DWZ__" target="ajaxTodo"  title="你确定要删除吗？"  ><span>删除</span></a>
											</div>
										</div>
										
										<div class="col-md-12  font-grep">
											
											<div class="col-md-3" style="float:left">
												<a href="javascript:luad({$vo['id']});" >点赞</a>（<span  id="luad{$vo['id']}">{$vo['laud_count']}</span>）
											</div>
											<div class="col-md-4" style="float:left">
												<a href="javascript:collect({$vo['id']});" >收藏</a>（<span  id="collect{$vo['id']}">{$vo['collect_count']}</span>）
											</div>
											<div class="col-md-4" style="float:left">
											 {$vo['addtime']}
											</div>
											<div class="clear"></div>
										</div>
										<div class="col-md-12 btnList">
												<a class=" btn" href="__URL__/replyToAnswer/id/{$data['issue_id']}/pid/{$vo['id']}" target="dialog" mask="true" width="500" height="400"><span>评论</span></a>
												<a class=" btn edittai" href="javascript:;" style="display:none"><span >修改</span></a>
										</div>
										<volist name ="vo.child" id ="ch">
											<div class="col-md-12 parent" style="padding-top:25px;">
													<div class="col-md-2"  style="float:left">
														<a href="/user/detail/id/{$ch['system_user_id']}">
														<img src="{$ch['header']|default='__PUBLIC__/img/default_user.jpg'}" width="50" height="50" class="  img-circle header-img"/>
														</a>
													</div>
													<div class="col-md-10 answerEdit" style="padding:15px 15px 10px 15px; float:left">
														<div class="col-md-12">
															<if condition="($ch['system_user_id'] gt 27 )and($ch['system_user_id'] lt 228)">
															<span class="theme-h6"><span style="color:blue;">{$ch['name']}</span> 回复了   {$ch['pidname']} :</span>
															<else/>
															<span class="theme-h6">{$ch['name']} 回复了   {$ch['pidname']} :</span>
															</if>	
														
														</div>
														
														<div class="col-md-12 changeinput" style="">
															<p class=" answer-title inputedit">{$ch['reply_content']}</p>
																<div class="changetext" style="display:none;">
																<textarea rows="3" cols="40" name="changetext"  data-id="{$ch['id']}">{$ch['reply_content']}</textarea>
																<a class="submitReply" href="javascript:;" ><span>确认</span></a>	
																<a class="cancel" href="javascript:;" ><span>取消</span></a>	
																<a class="delete" href="__URL__/delete_reply/id/{$ch['id']}/navTabId/__DWZ__" target="ajaxTodo"  title="你确定要删除吗？"  ><span>删除</span></a>
																</div>
															</div>
														<div class="col-md-3 font-grep" style="">
														 {$ch['addtime']}
														</div>
														<div class="col-md-12 btnList" style="margin-top:5px;">
																<a class=" btn scroll" href="__URL__/replyToAnswer/id/{$data['issue_id']}/pid/{$ch['id']}" target="dialog" mask="true" width="500" height="400"><span>评论</span></a>
																<a class=" btn edittai" href="javascript:;" style="display:none"><span >修改</span></a>
														</div>
												<div class="clear"></div>
													</div>
						
											<div class="clear"></div>
											</div>
											
										</volist>
									</div>
							<div class="clear"></div>
								</div>
					
							</volist>		
								
							<div class="clear"></div>
						
			
					</div>
				
				</div>
				
				
				
			</div>
			</div>
		
		
	</div>
</div>
<script>
function luad(id){
	$.ajax({
		url:'__MODULE__/Answer/clickLuad',
		type:"POST",
		data:{'id':id},
		success: function(data){
			if(data.code == 0){
					//alert(data.msg);
					$('#luad'+id).text(data.data.laud_count);
			}else{
				alert(data.msg);
			}
		},
		  dataType: 'json'
	});
};
function collect(id){
	$.ajax({
		url:'__MODULE__/Answer/collect',
		type:"POST",
		data:{'id':id,'type':<?php $a = $_SESSION['currentUser']['type'];if($a==0){echo 3;}elseif($a==2){echo 4;}else{echo 0;}?>},
		success: function(data){
			
			if(data.code == 0){
					//alert(data.msg);
					$('#collect'+id).text(data.data.collect_count);
			}else{
				alert(data.msg);
			}
		},
		  dataType: 'json'
	});
};
function att(id){
	$.ajax({
		url:'__MODULE__/Answer/attend',
		type:"POST",
		data:{'id':id},
		success: function(data){
			
			if(data.code == 0){
					//alert(data.msg);
					$('#att'+id).text(data.data.count);
			}else{
				alert(data.msg);
			}
		},
		  dataType: 'json'
	});
};
$().ready(function(){
	 imgarr = <?php echo json_encode($data['pics']);?>;
	 imgChange = null;
	//var imgObj=eval("("+imgarr+")");
	//img action
	//console.log(imgarr);
	$('.imgDelete').live('click',function(){
		imgChange = true;
		var index = $(this).closest('.imgCell').index();
		$(this).closest('.imgCell').hide();
		imgarr[index]="";
		//console.log(imgarr);
	});
	$('.answerEdit').bind({'mouseenter':function(){
		$(this).children('.btnList').children('.edittai').show();
	},'mouseleave':function(){
		$(this).children('.btnList').children('.edittai').hide();
	}});

	//$('.edittai').die('click');
	$('.edittai').bind('click',function(){
		$(this).closest('.parent').children('.answerEdit').unbind('mouseenter').unbind('mouseleave');
		var text = $(this).closest('.parent').children('.answerEdit').children('.changeinput');
		text.children('.inputedit').hide();
		text.children('.changetext').show();
		var img = $(this).closest('.parent').children('.answerEdit').children('.imgContainer');
	//	img.children('.imgCell').append('<div class="imgBtn"><span class="imgRepick"><input class="editPic" type="file"  /></span><span class="imgDelete">删除</span></div>');
		img.children('.imgCell').each(function(){
			var len = $(this).index();
			$(this).append('<div class="imgBtn"><span class="imgRepick"><input class="editPic" type="file" id="upload'+len+'" /></span><span class="imgDelete">删除</span></div>');
			//动态绑定
			$("#upload"+len).uploadify({
				
				'formData'     : {ajax:1,type:1},
				'buttonText': '修改',
				'removeCompleted':true,
				'swf'      : '__PUBLIC__/uploadify/scripts/uploadify.swf',
				'uploader' : '__MODULE__/Public/uploadPicByEdit',
				'queueID ':'queue',
				'width': '55',
				'height':'22',
				hideButton :'true',
			     onQueueComplete:function(queueData){
		            // console.log(queueData.uploadsSuccessful+'\n'+queueData.uploadsErrored)
		         },
		         onUploadSuccess: function(file,data,respone){
		        	// console.log(data);
		        	
		  			 var obj=eval('(' + data + ')');
		  			 if(obj.code == 0){
			             var pic = obj['data']['hs'];
			             imgarr[len] = obj.data;
			             imgChange = true;
			          	$('.imgContainer').find('.imgCell').eq(len).find('img').attr('src',pic);
			          	
		  			 }else{
		  				alert(obj.msg); 
		  			 }
		         },
		         onUploadError: function(file,errorCode,errorMsg,errorString){
		        	 console.log(file);
		        	 console.log(errorCode);
		        	 console.log(errorMsg);
		        	 console.log(errorString);
		       		 alert(errorMsg);
		         },
			});
		
		});
		
		
		$('#addPic').show();
		$(this).hide();
		$(this).parent('.btnList').children('.submit').show();
		$(this).parent('.btnList').children('.cancel').show();
		//
	});
	//$('.cancel').die('click');
	$('.cancel').bind('click',function(){
		$(this).closest('.parent').children('.answerEdit').bind({'mouseenter':function(){
			$(this).children('.btnList').children('.edittai').show();
		},'mouseleave':function(){
			$(this).children('.btnList').children('.edittai').hide();
		}});
		var text = $(this).closest('.parent').children('.answerEdit').children('.changeinput');
		text.children('.inputedit').show();
		text.children('.changetext').hide();
		$(this).closest('.parent').children('.answerEdit').children('.imgContainer').find('.imgBtn').remove();
		$('#addPic').hide();
		$(this).parent('.btnList').children('.submit').hide();
		$(this).parent('.btnList').children('.cancel').hide();
		
	})
	$('.submit').click(function(){
		var pos = $(this).closest('.parent').children('.answerEdit').children('.changeinput');
		var text = pos.children('.changetext').children('textarea[name=changetext]').val();
		var id = pos.children('.changetext').children('textarea[name=changetext]').attr('data-id');
		var pid = $('#pid').val();
		var pidtext =$("#pid").find("option:selected").text(); 
		var $this = $(this);
		if( pid == '' || pid ==undefined){
			alert('分类未选择');
			return false;
		}
		//console.log(imgarr);return false;
		$.ajax({
			'url':'__URL__/changetext',
			'data':{'id':id,'text':text,'imgChange':imgChange,'imgarr':imgarr,'pid':pid},
			'type':'post',
			'success':function(data){
				console.log(data);
				if(data.code ==0){
					//$this.parent('.changetext').children('textarea[name=changetext]').val(data.data);
					$this.closest('.parent').children('.answerEdit').children('.changeinput').children('.inputedit').html(text);
					$this.closest('.parent').children('.answerEdit').children('.changeinput').children('.changetext').hide();
					$this.closest('.parent').children('.answerEdit').children('.changeinput').children('.inputedit').show();
					$this.closest('.parent').children('.answerEdit').children('.imgContainer').find('.imgBtn').remove();
					$('#addPic').hide();
					$('#category').html('分类（'+pidtext+'）');
					$this.parent('.btnList').children('.submit').hide();
					$this.parent('.btnList').children('.cancel').hide();
					
				}else{
					console.log(data);
					alert(data.msg);
				}
			},
			'dataType':'json'
			
		});
		$(this).closest('.parent').children('.answerEdit').bind({'mouseenter':function(){
			$(this).children('.btnList').children('.edittai').show();
		},'mouseleave':function(){
			$(this).children('.btnList').children('.edittai').hide();
		}});
	});
	$('.submitReply').click(function(){
		var text = $(this).parent('.changetext').children('textarea[name=changetext]').val();
		var id = $(this).parent('.changetext').children('textarea[name=changetext]').attr('data-id');
		var $this = $(this);
		$.ajax({
			'url':'__URL__/changeReply',
			'data':{'id':id,'text':text},
			'type':'post',
			'success':function(data){
				console.log(data);
				if(data.code ==0){
					//$this.parent('.changetext').children('textarea[name=changetext]').val(data.data);
					$this.parent('.changetext').parent('.changeinput').children('.inputedit').html(data.data);
					$this.parent('.changetext').hide();
					$this.parent('.changetext').parent('.changeinput').children('.inputedit').show();
				}else{
					alert(data.msg);
				}
			},
			'dataType':'json'
			
		});
		$(this).closest('.parent').children('.answerEdit').bind({'mouseenter':function(){
			$(this).children('.btnList').children('.edittai').show();
		},'mouseleave':function(){
			$(this).children('.btnList').children('.edittai').hide();
		}});
	})
})
</script>
<script>

	
	$('#addPic').uploadify({
		
		'formData'     : {ajax:1,type:1},
		'buttonText': '新增图片',
		'removeCompleted':true,
		'swf'      : '__PUBLIC__/uploadify/scripts/uploadify.swf',
		'uploader' : '__MODULE__/Public/uploadPicByEdit',
		'queueID ':'queue',
	     onQueueComplete:function(queueData){
            // console.log(queueData.uploadsSuccessful+'\n'+queueData.uploadsErrored)
         },
         onUploadSuccess: function(file,data,respone){
        	// console.log(data);
        	
  			 var obj=eval('(' + data + ')');
  			 if(obj.code == 0){
	           //  var str = JSON.stringify(obj.data);
	             var pic = obj['data']['hs'];
	             var len = imgarr.length;
	             imgarr[len] = obj.data;
	             imgChange = true;
	          	$('.imgContainer').append('<div class="col-md-4 imgCell" style="float:left;padding:5px;"><img src="'+pic+'" class="img-responsive"><div class="imgBtn"><span class="imgRepick"><input class="editPic" type="file" id="upload'+len+'" /></span><span class="imgDelete">删除</span></div></div>');
		    		//动态绑定
	
					$("#upload"+len).uploadify({
						
						'formData'     : {ajax:1,type:1},
						'buttonText': '修改',
						'removeCompleted':true,
						'swf'      : '__PUBLIC__/uploadify/scripts/uploadify.swf',
						'uploader' : '__MODULE__/Public/uploadPicByEdit',
						'queueID ':'queue',
						'width': '55',
						'height':'22',
						hideButton :'true',
					     onQueueComplete:function(queueData){
				            // console.log(queueData.uploadsSuccessful+'\n'+queueData.uploadsErrored)
				         },
				         onUploadSuccess: function(file,data,respone){
				        	// console.log(data);
				        	
				  			  var obj=eval('(' + data + ')');
				  			 if(obj.code == 0){
					             var pic = obj['data']['hs'];
					             imgarr[len] = obj.data;
					             imgChange = true;
					          	$('.imgContainer').find('.imgCell').eq(len).find('img').attr('src',pic);
					          	
				  			 }else{
				  				alert(obj.msg); 
				  			 }
				         },
				         onUploadError: function(file,errorCode,errorMsg,errorString){
				        	 console.log(file);
				        	 console.log(errorCode);
				        	 console.log(errorMsg);
				        	 console.log(errorString);
				       		 alert(errorMsg);
				         },
					});
  			 }else{
  				alert(obj.msg); 
  			 }
         },
         onUploadError: function(file,errorCode,errorMsg,errorString){
        	 console.log(file);
        	 console.log(errorCode);
        	 console.log(errorMsg);
        	 console.log(errorString);
       		 alert(errorMsg);
         },
	});


</script>
