<div class="page">
    <div class="pageContent">

        <form method="post" action="__URL__/insert/navTabId/__DWZ__/callbackType/closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
            <div class="pageFormContent" layoutH="58">
                <div class="unit">
                    <label>权限组名称：</label>
                    <input type="text" class="required" value="{$vo.title}"  name="title" id="name">
                </div>
                <div class="unit">
                    <label>状态：</label>
                   	<select name="status">
                   		<if condition ="$vo.status eq 1">
                   		<option value="1" selected>正常</option>
                   		<else/>
                   		<option value="1">正常</option>
                   		</if>
                   		<if condition="$vo.status eq 0">
                   		<option value="0" selected>禁用</option>
                   		<else/>
                   		<option value ="0">禁用</option>
                   		</if>
                   	
                   	</select>
					
                </div>
                  <div class="unit">
                    <div style="margin:15px;">勾选权限：</div>
                    <volist name="rules" id="chd">
                    
                    <h2 style="margin:12px;">{$chd['auth_rule_group']}</h2>
                    	<volist name="chd.child" id ="cd">
                  		 <span style="padding:5px;"> <input type="checkbox"  name="rules[]" id="rules" value="{$cd.id}">{$cd.title}</span>
                   		</volist>
                   </volist>
                </div>
               
            </div>

            <div class="formBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                    <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
                </ul>
            </div>
        </form>

    </div>
</div>