<form id="pagerForm" action="__URL__" method="post">
	<input type="hidden" name="pageNum" value="{$_REQUEST['pageNum']|default=1}"/>
	<input type="hidden" name="numPerPage" value="{$numPerPage}"/>
    <input type="hidden" name="_order" value="{$_REQUEST['_order']}"/>
	<input type="hidden" name="_sort" value="{$_REQUEST['_sort']|default='1'}"/>
    <input type="hidden" name="listRows" value="{$_REQUEST['listRows']}"/>
    <volist name="map" id="m">
    <input type="hidden" name="{$key}" value="{$_REQUEST[$key]}"/>
    </volist>
</form>


<div class="page">
	<div class="pageHeader">
		<form onsubmit="return navTabSearch(this);" action="__URL__" method="post">
		<div class="searchBar">
			<ul class="searchContent">
				<!-- <li>
					<label>分类名称：</label>
					<input type="text" name="name" value="{$_REQUEST.name}" class="medium" >
				</li>
				 -->
			</ul>
			<div class="subBar">
				<ul>
					<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
					
				</ul>
			</div>
		</div>
		</form>
	</div>

	<div class="pageContent">
		<div class="panelBar">
			<ul class="toolBar">
				<!-- <li><a class="add" href="__URL__/add" target="dialog" mask="true" width="700" height="400"><span>新增</span></a></li>
				<li><a class="delete" href="__URL__/foreverdelete/id/{sid_node}/navTabId/__DWZ__" target="ajaxTodo"  title="你确定要删除吗？" warn="请选择节点"><span>删除</span></a></li>
				<li><a class="edit" href="__URL__/edit/id/{sid_node}" target="dialog" mask="true" warn="请选择节点" width="700" height="400"><span>修改</span></a></li>
			 -->
			<li><a class="icon" href="/index.php/App/Auth/execAction/id/{sid_node}/navTabId/__DWZ__" target="ajaxTodo"  title="你确定要通过？" warn="请选择节点"><span>通过</span></a></li>
			</ul>
		</div>
		<table class="list" width="100%" layoutH="116">
			<thead>
			<tr>
				<th width="40">ID</th>
                <th width="40">obj_id</th>
                <th width="40">商家名称</th>
                 <th width="40">经纬度</th>
                <th width="40">更新数据库no</th>
                <th width="40">对应操作</th>
                <th width="40">业务员id</th>
                <th width="40">提交审核时间</th>
				<th width="80" orderField="title">状态</th>
				<th width="80" >操作</th>
			</tr>
			</thead>
			<tbody>
	
			
			<volist id="vo" name="list">
				<tr target="sid_node" rel="{$vo['id']}">
					<td>{$vo['id']}</td>
					<td>{$vo['mark_id']}</td>
					<td>{$vo['check_data']['merchant_name']}</td>
					<td>{$vo['check_data']['longitude']},{$vo['check_data']['latitude']}</td>
					<td>{$vo['db_no']}</td>
					<td>{$vo['check_action']}</td>
					<td>{$vo['data_org']['salesman']|getMerchantName}</td>
					<td>{$vo['addtime']|date='Y-m-d H:i:d',###}</td>
					<td>{$vo['status']}</td>
					<td> <a class="check_by" href="#" onclick="checkby({$vo['id']})">通过</a> 
					<a href="__URL__/edit/id/{$vo['id']}/" target="navTab" rel="Auth.detail">查看详细</a>
					</td>
				</tr>
			</volist>
			
			</tbody>
		</table>
		<div class="panelBar">
			<div class="pages">
				<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
				<option value="5" <eq name="numPerPage" value="5">selected=selected</eq>>5</option>
				<option value="10" <eq name="numPerPage" value="10">selected=selected</eq>>10</option>
				<option value="15" <eq name="numPerPage" value="15">selected=selected</eq>>15</option>
				<option value="20" <eq name="numPerPage" value="20">selected=selected</eq>>20</option>
			</select>
				<span>共{$totalCount}条</span>

			</div>
			<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="10" currentPage="{$currentPage}"></div>
		</div>
	</div>
</div>
<script>
				function checkby(id){
						$.ajax({
						     type: 'POST',
						     url:'/index.php/App/Auth/execAction' ,
						    data: {'id':id} ,
						    success: function(json){
						    	alert(json.msg);
						    } ,
						    dataType: 'json'
						});
				}
			</script>
